*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
.backSide {
    background: url("https://images.unsplash.com/photo-1694816602214-72f2729e86e7?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=2066") no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
    position: absolute;
}
.progressBar{
    font-size: 50px;
    color: #fff;
    background-color: transparent;
}
